

body, html {
margin: 0;
padding: 0;
height: 100% !important;
width: 100%;
background-color: #000000;
vertical-align: center;
display: grid;
justify-items: center;
}




    .pageContainer {
        background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23154b3e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
        width: 100%;
        background-attachment: fixed;
        position: relative;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 100%;
        grid-template-rows: 60px auto 60px !important;
        grid-template-areas: 
                    "header"
                    "books"
                    "outro";
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
        min-height: auto !important;
    }





.headerDiv {
    grid-area: "header";
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #15224b;
    justify-content: space-between;
    
}



.header{
    font-family: Amatic SC !important;
    color: #b3cde0;
    font-size: 50px;
    font-family: Helvetica; 
    text-align: right;
    width: 100%;
    z-index: 1;
    justify-self: center;
    text-align: center;
    margin-left: 30px;
    
}

.nav {
    width: 50px;
    height: 40px;
    justify-self: flex-end;
    z-index: 10;
}


.linedNavDiv {
    background-color: transparent;
    outline: transparent;
    border: transparent;
    display: grid;
    width: 100%;
    height: 75%;
    justify-content: flex-end;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
                "lineA";
    grid-gap: 1px;
    margin: 0;
    
}

/* .linedNavDiv:focus > .linedNav1  {
    background-color: white !important;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    animation-name: nav1;

}
.linedNavDiv:focus > .linedNav2  {
    background-color: white !important;
    animation-name: nav2;
    animation-duration: .5s;
    animation-fill-mode: forwards;

}

.linedNavDiv:focus > .linedNav3  {
    background-color: white !important;
    animation-name: nav3;
    animation-duration: .5s;
    animation-fill-mode: forwards;

} */

/* Animation for opening Modal  */

@keyframes nav1Open {
    0% {
        transform: scale(1.2) ;
        transition: ease-in;
    }
    50% {
        transform: scale(1.1) translateY(9.5px);
        transition: ease-in;
    }
    100% {
        transform: rotate(-45deg) translateY(7.5px) translateX(-7.5px);
        transition: ease-in;
    }
}

@keyframes nav2Open {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: rotate(45deg);
        transition: ease-in;
    }
}

@keyframes nav3Open {
    0% {
        transform: scale(1.2);
        transition: ease-in;
    }
    50% {
        transform: translateY(-10.5px);
        transition: ease-in;
    }
    100% {
        transform: rotate(45deg) translateY(-8.25px);
        transition: ease;
        opacity: 0;
    }
}

/* Animation for Closing Modal */

@keyframes nav1Close {
    0% {
        transform: rotate(-45deg) translateY(7.5px) translateX(-7.5px);
        transition: ease-in;
    }
    50% {
        transform: scale(1.1) translateY(9.5px);
        transition: ease-in;
    }
    100% {
        transform: scale(1) ;
        transition: ease-in;
    }
}
@keyframes nav2Close {
    0% {
        transform: rotate(45deg);
        transition: ease-in;
    }
    50% {
        transform: scale(1.2);

    }
    100% {
        transform: scale(1);

    }
}
@keyframes nav3Close {
    0% {
        transform: rotate(45deg) translateY(-8.25px);
        transition: ease;
        opacity: 0;
    }
    50% {
        transform: translateY(-10.5px);
        transition: ease-in;
    }
    100% {
        transform: scale(1);
        transition: ease-in;
    }
}

/* Div Items for Modal Icon */

.linedNav1, .linedNav2, .linedNav3 {
    background-color: #b3cde0;
    width: 33px;
    height: 5px;
    margin-right: 0px;
    align-self: center;
    position: relative;
    grid-area: "lineA";
    justify-self: flex-end;
    margin-right: 10px;
    -webkit-transition: padding 2s;

    
}

/* Display for each object / book */

@media screen and (max-width: 400px) {
    .bookDisplay {
        z-index: 0;
        grid-area: "books";
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        grid-template-rows: repeat(auto-fit, 250px) !important;
        grid-gap: 20px;
        width: calc(100% - 50px);
        place-items: center center;
        place-content: center center;
        height: auto !important;
    }
}



@media screen and (min-width: 401px) {
    .bookDisplay {
        z-index: 0;
        
        grid-area: "books";
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        grid-template-rows: repeat(auto-fit, 250px) !important;
        grid-gap: 20px;
        width: calc(100% - 50px);
        height: auto !important;
        place-items: center center;
        place-content: center center;
        
    }
}

/* Styling for book objects */

.exampleBook  {
    background: rgba(41, 145, 161, .8);
    place-self: stretch stretch;
    grid-area: "books";
    text-align: center;    
    color: white;
    border-radius: 1%;
    display: grid;
    grid-template-areas: 
                    "close"
                    "title"
                    "author"
                    "pages"
                    "buttons";
    grid-template-columns: 100%;
    height: 250px;
    width: 100%;
    grid-template-rows: 10% 40% 20% 10% 20%;
    box-shadow: 0px 0px 10px black;
}


.JavaBook  {
    background-color: rgba(48, 143, 75, 0.898);
    place-self: stretch stretch;
    
    text-align: center;    
    color: black;
    border-radius: 1%;
    display: grid;
    grid-template-areas: 
                    "close"
                    "title"
                    "author"
                    "pages"
                    "buttons";
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    grid-template-rows: 5% 35% 20% 10% 12%;
    box-shadow: 0px 0px 10px black;
}

.close {
    grid-area: "close";
    display: flex;
    justify-content: end;
    width: 98%;
    height: 100%;
    grid-row: 0 / 1;
    place-items: center end;
    place-content: center end;
   
}

.x {
    place-items: center center;
    height: 80%;
    width: 40px;
    margin-top: 1.75%;
    justify-self: end;
    border-radius: 2px;
    outline: transparent;
    border: transparent;
    background-color: rgba(42, 21, 75, .85);
    color: white;
    z-index: 10;
}

.x:hover {
    transform: scale(1.1);
    transition:  ease-out .2s;
    background-color: white;
    color: black;
}

.title {
    font-family: 'Roboto';
    grid-area: "title";
    place-self: center center;
    margin-top: 15%;
    font-size: 20px;
}

.author {
    font-family: 'Roboto';
    grid-area: "author";
    place-self: center center;
    font-size: 15px;
    place-self: center center;
}

.pages {
    font-family: 'Roboto';
    grid-area: "pages";
    place-self: end center;
    font-size: 10px;
}

/* .summary {
    font-family: 'Roboto';
    grid-area: "summary";
    place-self: end center;
} */

.buttonCont {
    font-family: 'Roboto';
    display: flex !important;
    grid-area: "buttons";
    justify-items: space-around;
    grid-gap: 10px;
    margin: 5px;
    grid-row: 5 / 6;
}

.read {
    color: white;
    background-color: rgba(21, 34, 75, .85);
    border-radius: 2%;
    outline: 0px transparent solid;
    border: 0px solid transparent;
    width: 50%;
    height: 90%;
}

.unread {
    color: white;
    background-color: rgba(42, 21, 75, .85);
    border-radius: 2%;
    outline: 0px transparent solid;
    border: 0px solid transparent;
    width: 50%;
    height: 90%;
}
.unread:hover {
    background-color: rgb(42, 21, 75);
    border-radius: 2%;
    outline: 0px transparent solid;
    border: 0px solid transparent;
    width: 50%;
    height: 90%;
}

.read:hover {
    color: white;
    background-color: rgb(21, 34, 75);
    border-radius: 2%;
    outline: 0px transparent solid;
    border: 0px solid transparent;
    width: 50%;
    height: 90%;
}




/* Footer styling */

footer {
    font-family: Amatic SC !important;
    color: #b3cde0;
    font-size: 15px;
    grid-area: "outro";
    position: relative;
    bottom: 0;
    display: grid;
    place-items: center center;
    height: 60px;
    width: 100%;
    background-color: #15224b;
    
}

@media screen and (max-width: 500px) {
    .modal {
            display: none;
            position: fixed;
            background-color: #15224b;
            border-radius: 5px;
            z-index: 100;
            width: 325px;
            height: 400px;
            z-index: 1; 
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -225px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 
            place-self: center center;
    }
}

@media screen and (min-width: 501px) {
    .modal {
        
            display: none;
            position: fixed;
            background-color: #15224b;
            border-radius: 5px;
            z-index: 100;
            width: 400px;
            height: 450px;
            z-index: 1; 
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -225px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 
            place-self: center center;
    }
}




.modalContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 5% 70% 15%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
                    "x"
                    "text"
                    "butt1 butt2";
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgba(245, 245, 245, 0.973);
    font-family: Arial, Helvetica, sans-serif
}

.form {
    display: grid;
    justify-self: center;
    grid-template-columns: 25% 75%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
                    "title bookTitle"
                    "author bookAuthor"
                    "pages bookPages";
    grid-row-gap: 20px;
    place-items: center stretch;
    width: 90%;
    height: 80%;
}

input {
    text-indent: 15px;
    height: 50%;
    width: 100%;
}



.closeModal {
    grid-area: "x";
    grid-row: 0 / 2;
    grid-column: span 2;
    text-align: center;
    height: 100%;
    width: 35px;
    margin: 5%;
    place-self: center end;
    border-radius: 2px;
    outline: transparent;
    border: transparent;
}

.modalText {
    justify-self: center;
    display: grid;
    grid-area: "text";
    grid-column: span 2;
    grid-row: 2 / 3;
    width: 90%;
    height: 100%;
    font-size: 20px;
    
}

.addButt {
    grid-row: 3 / 4;
    grid-column: 0 / 2;
    grid-area: "butt1";
    justify-content: center;
    align-self: center;
    width: 95px;
    height: 50%;
    border-radius: 2px;
    outline: transparent;
    border: transparent;
    background-color: #b3cde0;
    color: black;
}

.addButt:hover {
    transform: scale(1.1);
    transition:  ease-out .2s;
    background-color: white;
    color: black;
    
}

.removeButt {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    grid-area: "butt2";
    width: 95px;
    height: 50%;
    border-radius: 2px;
    outline: transparent;
    background-color: #b3cde0;
    color: black;
    border: transparent;
}

.removeButt:hover {
    transform: scale(1.1);
    transition:  ease-out .2s;
    background-color: white;
    color: black;
    
}



.closeModal {
    background-color: #000000;
    color: #b3cde0;
    border: transparent;
}

.closeModal:hover {
    
    transform: scale(1.1);
    transition:  ease-out .2s;
    background-color: white;
    color: black;
}

@media screen and (max-width: 500px) {
    .googlemodal {
        font-family: Amatic SC !important;
    color: #b3cde0;
            display: grid;
            position: fixed;
            background-color: #15224b;
            border-radius: 5px;
            z-index: 100;
            width: 325px;
            height: 400px;
            z-index: 1; 
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -225px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 
            place-self: center center;
    }
}

@media screen and (min-width: 501px) {
    .googlemodal {
        font-family: Amatic SC !important;
    color: #b3cde0;
            display: grid;
            position: fixed;
            background-color: #15224b;
            border-radius: 5px;
            z-index: 100;
            width: 400px;
            height: 450px;
            z-index: 1; 
            left: 50%;
            top: 50%;
            margin-left: -200px;
            margin-top: -225px;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 
            place-self: center center;
            grid-template-rows: 33% 33% 33%;
            grid-template-columns: 100%;
            grid-template-areas: 
                    "h1"
                    "h3"
                    "button";
            justify-content: center;
            align-content: center;


    }
}

.g-signin2 {
    grid-area: 'button';
    justify-self: center;
    align-self: start;
}

.h1 {
    font-size: 55px;
    grid-area: 'h1';
    justify-self: center;
    align-self: end;
}

.h3 {
    font-size: 30px;
    grid-area: 'h3';
    align-self: center;
    justify-self: center;
}