

body, html {
margin: 0;
padding: 0;
height: 100%;
width: 100%;
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23154b3e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");width: 100%;
vertical-align: center;

}

@media screen and (max-width: 600px) {
    .pageContainer {
        position: relative;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: 
                    "header"
                    "books"
                    "outro";
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 100vh !important;

    }

}


@media screen and (min-width: 601px) {
    .pageContainer {
        position: relative;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 100%;
        grid-template-rows: 8% 82% 10%;
        grid-template-areas: 
                    "header"
                    "books"
                    "outro";
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 100vh !important;
    }

}


.headerDiv {
    grid-area: "header";
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #15224b;
    justify-content: space-between;
    
}



.header{
    font-family: Amatic SC !important;
    color: #b3cde0;
    font-size: 50px;
    font-family: Helvetica; 
    text-align: right;
    width: 100%;
    z-index: 1;
    justify-self: center;
    text-align: center;
    margin-left: 30px;
    
}

.nav {
    width: 50px;
    height: 40px;
    justify-self: flex-end;
    z-index: 10;
}


.linedNavDiv {
    display: grid;
    width: 100%;
    height: 75%;
    justify-content: flex-end;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
                "lineA";
    grid-gap: 1px;
    margin: 0;
    
}

.linedNav1, .linedNav2, .linedNav3 {
    background-color: #b3cde0;
    width: 33px;
    height: 5px;
    margin-right: 0px;
    align-self: center;
    position: relative;
    grid-area: "lineA";
    justify-self: flex-end;
    margin-right: 10px;
    

    
}

@media screen and (max-width: 400px) {
    .bookDisplay {
        grid-area: "books";
        display: grid;
        grid-template-columns: repeat(auto-fill, 325px);
        grid-template-rows: repeat(auto-fill, minmax(425px, 450px)) !important;
        grid-gap: 20px;
        width: calc(100% - 50px);
        place-items: center center;
        height: 100%;
    }
}



@media screen and (min-width: 401px) {
    .bookDisplay {
        grid-area: "books";
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, 250px);
        grid-gap: 20px;
        width: calc(100% - 50px);
        height: 100%;
        place-items: center center;
        
    }
}

.exampleBook  {
    background-color: rgba(255, 255, 255, .8);
    place-self: stretch stretch;
    
    text-align: center;    
    color: black;
    border-radius: 1%;
    display: grid;
    grid-template-areas: 
                    "title"
                    "author"
                    "pages"
                    "summary"
                    "buttons";
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
    grid-template-rows: 20% 20% 10% 38% 12%;
}

.title {
    grid-area: "title";
    place-self: center center;
}

.author {
    grid-area: "author";
    place-self: center center;
}

.pages {
    grid-area: "pages";
    place-self: center center;
}

.summary {
    grid-area: "summary";
    place-self: center center;
}

.buttonCont {
    display: flex !important;
    grid-area: "buttons";
    justify-items: space-around;
    grid-gap: 10px;
    margin: 5px;
    
}

button {
    background-color: hsla(263, 56%, 19%, 0.773);
    border-radius: 2%;
    outline: 0px transparent solid;
    border: 0px solid transparent;
    width: 50%;
    height: 90%;
}

button:hover {
    background-color: rgb(42, 21, 75);
    border-radius: 2%;
    outline: 0px transparent solid;
    border: 0px solid transparent;
    width: 50%;
    height: 90%;
}

footer {
    position: absolute;
    bottom: 0 !important;
    display: grid;
    place-items: center center;
    grid-area: "outro";
    height: 1fr;
    width: 100%;
    background-color: #15224b;
    
}